name: server

networks:
  db-net:
    name: db-net
    driver: bridge
  cache-net:
    name: cache-net
    driver: bridge
  kafka-net:
    name: kafka-net
    driver: bridge

services:
  mysql:
    extends:
      file: ./infra/mysql/compose.yml
      service: mysql
    networks: [db-net]
    ports:
      - "3306:3306"
  redis-master:
    extends:
      file: ./infra/redis/redis.extends.yml
      service: redis-master
    networks:
      cache-net:
        aliases: [ redis-master ]
    ports: [ "6379:6379" ]

  redis-slave1:
    extends:
      file: ./infra/redis/redis.extends.yml
      service: redis-slave1
    networks: [ cache-net ]
    ports: [ "6380:6379" ]
  redis-slave2:
    extends:
      file: ./infra/redis/redis.extends.yml
      service: redis-slave2
    networks: [ cache-net ]
    ports: [ "6381:6379" ]
  sentinel1:
    extends:
      file: ./infra/redis/sentinel.extends.yml
      service: sentinel1
    networks: [ cache-net ]
    ports: [ "26379:26379" ]
  sentinel2:
    extends:
      file: ./infra/redis/sentinel.extends.yml
      service: sentinel2
    networks: [ cache-net ]
    ports: [ "26380:26379" ]
  sentinel3:
    extends:
      file: ./infra/redis/sentinel.extends.yml
      service: sentinel3
    networks: [ cache-net ]
    ports: [ "26381:26379" ]

  kafka0:
    extends:
      file: ./infra/kafka/compose.yml
      service: kafka0
    networks: [kafka-net]
    ports: [ '29094:9094' ]
  kafka1:
    extends:
      file: ./infra/kafka/compose.yml
      service: kafka1
    networks: [kafka-net]
    ports: ['29095:9094']
  kafka2:
    extends:
      file: ./infra/kafka/compose.yml
      service: kafka2
    networks: [ kafka-net ]
    ports: [ '29096:9094' ]
  kafka-web-service:
    extends:
      file: ./infra/kafka/compose.yml
      service: kafka-web-service
    networks: [ kafka-net ]
    ports: [ '9000:8080' ]
  kafka-exporter:
    extends:
      file: ./infra/kafka/compose.yml
      service: kafka-exporter
    networks: [kafka-net]
    ports: ['9308:9308']
  prometheus:
    extends:
      file: ./infra/monitor/compose.yml
      service: prometheus
    networks: [kafka-net, db-net, cache-net]
    ports: ['9090:9090']
  grafana:
    extends:
      file: ./infra/monitor/compose.yml
      service: grafana
    networks: [ kafka-net, db-net, cache-net ]
    ports: ['3000:3000']
  influxdb:
    extends:
      file: ./infra/monitor/compose.yml
      service: influxdb
    networks: [ kafka-net, db-net, cache-net ]
    ports: ['8086:8086']
  mysql-exporter:
    extends:
      file: ./infra/mysql/compose.yml
      service: mysql-exporter
    networks: [db-net]
    ports: ['9104:9104']
    depends_on:
      - mysql
